# Setup the ENV vars for use with the DD client api library
# Usage: `source ./.envrc`

export DD_CLIENT_API_KEY=$(gcloud secrets versions access latest --project=persona-terraform --secret=atlantis--datadog_api_key)
export DD_CLIENT_APP_KEY=$(gcloud secrets versions access latest --project=persona-terraform --secret=atlantis--datadog_app_key)
