# Go workspace file
go.work

# Binaries for programs and plugins
/datadog-query-linter
/dist
*.exe
*.exe~
*.dll
*.dylib
*.so

# Test binary, built with `go test -c`
*.out
*.test

# Test coverage output and a temp directory
/coverage
/tmp.envrc

# dont commit the envrc because it has persona-specific gcp values
# in it. NOT any actual secrets though, of course, just gcp projects
# and secret names.
/.envrc